@CHARSET "ISO-8859-1";
.people 
{
	
	background-image: url("../ico/user_add.png");
}
.iChome
{
	font-size: 20px;
	background-image: url("../ico/54.ico");
}
.IconHome
{
	background-image: url("../ico/departement.png");
}
.building
{
	background-image: url("../ico/63.ico");
}
.userV
{
	background-image: url("../ico/user_suit.gif");	
}
.iconUser
{
	background-image: url("../ico/user.gif");
}
.iconPdf
{
	background-image: url("../ico/pdf.png");
}
.logout
{
	background-image: url("../ico/connect.png");
}
.userAdd
{
	background-image: url("../ico/user_add.gif");
}
.addAsset
{
	background-image: url("../ico/assets.png");
}
.add
{
	background-image: url("../ico/add.gif");
}
.tabs
{
	background-image: url("../ico/tabs.gif");
}
.addMenu 
{
	background-image: url("../ico/add16.gif");
}
.detail
{
	background-image: url("../ico/data_sheet.png");
}
.kategori
{
	background-image: url("../ico/categories.png");
}
.document
{
	background-image: url("../ico/document2.png");
	
}
.asset
{
	background-image: url("../ico/components2.png");
}
#asd {
	background: #000;
	height	: 200;
}
.send
{
	background-image: url("../ico/cron.png");
}
.itAssetAdd
{
	background-image: url("../ico/add.png");
}
.close 
{
	background-image: url("../ico/cross.gif");
}
.list
{
	background-image: url("../ico/lists.png");
}
.incident
{
	background-image: url("../ico/58.ico");
}
.loginAccess
{
	background-image: url("../ico/users3.png");
}

.thumb-wrap {
	padding: 5px;
}
.taskIco 
{
	background-image: url("../ico/view_detailed.png");
}
.maintenence 
{
	background-image: url("../ico/hammer.png");
}
.vendor
{
	background-image: url("../ico/63.ico");
}
.change	
{
	background-image: url("../ico/75.ico");
}
.problemico 
{
	background-image: url("../ico/network_error.png");
}
.group 
{
	background-image: url("../ico/User group.ico");
}
.menu 
{
	background-image: url("../ico/catalog.png");
}
.lists
{
	background-image: url("../ico/lists.png");
}
.clock
{
	background-image: url("../ico/clock.png");
}
.reports
{
	background-image: url("../ico/reports.png");
}
.folder_web
{
	background-image: url("../ico/folder_web.png");
}
.accountant
{
	background-image: url("../ico/accountant.png");
}
.paymentstat
{
	background-image: url("../ico/paymentstat.png");
}
.check_reqs
{
	background-image: url("../ico/check_reqs.png");
}
.Forward
{
	background-image: url("../ico/Forward.png");
}
.Usergroup
{
	background-image: url("../ico/Usergroup.ico");
}
.Copyv2
{
	background-image: url("../ico/Copyv2.png");
}
.users3 
{
	background-image: url("../ico/users3.png");
}
.download 
{
	background-image: url("../ico/dow.png");
}
.delete 
{
	background-image: url("../ico/user_delete.png");
}
.password 
{
	background-image: url("../ico/72.ico");
}
.organisation 
{
	background-image: url("../ico/organisation.png");
}
.add_mail 
{
	background-image: url("../ico/add_mail.png");
}
.mail_complete 
{
	background-image: url("../ico/mail-complete.png");
}
.attach_document 
{
	background-image: url("../ico/attach_document.ico");
}
.doc_complete 
{
	background-image: url("../ico/doc_complete.png");
}
.doc_proccess 
{
	background-image: url("../ico/doc_proccess.png");
}
.holder 
{
	background-image: url("../ico/holder.png");
}
.approval 
{
	background-image: url("../ico/approval.png");
}

.workflow 
{
	background-image: url("../ico/workflow.png");
}

.left-cell .x-grid-cell-inner { 
    text-align:left;
} 

.incompleterow .x-grid-cell { 
    background-color: #ffe2e2; 
    color: #900; 
} 

.incomplete .x-change-cell {
	background-color: #ffe2e2; 
    color: #900; 
}

.completerow .x-grid-cell { 
    background-color: #e2ffe2; 
    color: #090; 
}

.complete .x-change-cell { 
    background-color: #e2ffe2; 
    color: #090; 
}

.header-cell .x-column-header-inner{
    text-align:center;
	margin	: 0px;
 } 
 
.header-cell .x-column-header-text {
	margin: 0 0 0 0;
}

td.wrap-text div {
    white-space: normal;
}
.null-cell {
	background-color: #ffe2e2;
	color: #000;	
}
